


img {
    float: right;
    margin-left: 25px;
    margin-bottom: 15px;
    height: 300px;
    width: auto;
}

.page {
    background-color: rgb(216,217,225);
    border-radius: 15px;
    padding: 20px;
}
p {
    font-weight: 500;

}

@media(max-width: 800px) {
    .est h2 {
        margin-right: 120px;
    }
    
    img {
        width: 300px;
        height: auto;
        margin-left: 10px;
        margin-bottom: 20px;
        
    }

    .page {
        width:450px;
        margin-left: 5px;
        margin-right: 10px;
    }
}