.header {
    filter: drop-shadow(14px 11px 5px #4E3B3D);
}

.logo img{
    height: auto;
    width:420px;
    margin-top: 50px;
    
}

.logo { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.hours {
    display: flex;
    justify-content: center;
    align-items: center;
   
    color:#4E3B3D;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #4E3B3D;
    margin-left: 20px;
}

.pageTitle {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 800px) {
    .header {
        margin-left: 20px;
        width: max-content;
        padding-right:0cm;
    }
    
    .hours {
        flex-direction: column;
        

    }

    .hoo {
      order:1;
    }
    
    .time {
      order: 2;
      margin-right: 20px;
    }


}
