.FAQ {
    background-color: rgb(216,217,225);
    border-radius: 15px;
    padding: 20px;
}

li {
    margin-bottom: 30px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media(max-width: 800px) {
    .FAQ {
        width: auto;
    }

    li {
        margin-bottom: 30px;
    }
    
    .button a{
        font-size: xx-large;
    }

}

