footer { 
    background-color: rgb(216,217,225);
    margin-top: 100px;
    margin-bottom: 20px;
    padding-top: 30px;
    filter: drop-shadow(14px 11px 5px #4E3B3D);
}

h2 {
    text-align: center;
    color: #4E3B3D
}

.contactUs { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    text-decoration: none;
}

.contactUs a {
    text-decoration: none;
    color: rgb(216,217,225);
    margin-bottom: 2px;
}

.contact { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}

.contact svg {
    height: 20px;
    width: auto;
    float: left;
    margin-right: 15px;
}

.contact a {
    text-decoration: none;
    text-decoration: none;
    color: rgb(216,217,225);
    
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    
   
}



.socials a {
    background-color: rgb(216,217,225)

}

.socials svg {
    height: 40px;
    width: auto;
}





