.missionWrapper {
    display: flex;
    background-color: rgb(215, 223, 242,.50);
    border-radius: 15px;
}

.homepageImage {
    display: flex;
    justify-content: center;
    align-items:flex-end;
    margin-bottom: 20px;
    margin-left: 20px;
}

.missionStatement {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 20px;
}

.services {
    display: flex;
    align-items: center;
    justify-content: space-around;


}

.services a {
    background-color: #e0c6ae;
}

.title :hover{ 
    filter: drop-shadow(0,0,0, #e0c6ae);
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(216,217,225);
    border-radius: 15px;
    filter: drop-shadow(14px 11px 5px #4E3B3D);
    
}

.escrow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(216,217,225);
    border-radius: 15px;
    filter: drop-shadow(14px 11px 5px #4E3B3D);
}
