.missionWrapper{
    display: flex;
    justify-content: ;
    align-items: center;
    flex-direction: column;
    background-color: rgb(216, 217, 225);
    border-radius: 15px;
}

.missionHeader{
    display: flex;
    justify-content: right;

}

.missionContent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.homepageImage {
    margin-right: 15px;
}

.homepageImage img {
    width: auto;
    height: 300px;
    margin-left: 25px;
    border-radius: 15px;
}

.mission{
    margin-right: 20px;
}

.servicesWrapper{
    margin-top: 75px;
}

.services {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.services a {
    background-color: rgb(216,217,225);
    border-radius: 15px;
}


.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.title a:hover { 
    filter: drop-shadow(12px 7px 5px #4E3B3D);
    transition: 0.4s;
}

.escrow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.escrow a:hover {
    filter: drop-shadow(12px 7px 5px #4E3B3D);
    transition: 0.4s;
}

h3{
    color:#4E3B3D;
    display: flex;
    align-items: center;
    justify-content: center;
}
