.missionWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.missionHeader{
    display: flex;
    justify-content: right;

}

.missionContent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background-color: rgb(216, 217, 225);
    border-radius: 15px;
}

.homepageImage {
    margin-right: 15px;
}

.homepageImage img {
    width: auto;
    height: 300px;
    margin-left: 25px;
    border-radius: 15px;
}

.mission{
    margin-right: 20px;
}

.servicesWrapper{
    margin-top: 75px;
}

.services {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.services a {
    background-color: rgb(216,217,225);
    border-radius: 15px;
}


.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.title a:hover { 
    filter: drop-shadow(12px 7px 5px #4E3B3D);
    transition: 0.4s;
}

.escrow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.escrow a:hover {
    filter: drop-shadow(12px 7px 5px #4E3B3D);
    transition: 0.4s;
}

h3{
    color:#4E3B3D;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 800px) {
    .missionWrapper{
        background-size:contain;

    }

    .homepageImage {
        margin-top: 20px;
        padding-right: 10px;
        padding-left: 5px;
    }

    .missionContent{
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .mission {
       padding-left: 30px;
    }


    .servicesWrapper h2 {
      
        margin-left: 85px;
    }

    .services {
        flex-direction: column;
        
    }
}