.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

a {
    text-decoration: none;
    color: rgb(216,217,225);
    background-color: rgb(21, 30, 98, .85);
    padding: 15px 28px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 5px;
    transition: 0.4s;
}

a:hover {
    background-color: rgb(205, 82, 38, .85);
   
}

.dropdown{
    display: none;
}

@media (max-width: 800px) {
    .navigation{
        display: none; 
    } 
    .dropdown{

        position:relative;
        display:flex;
        justify-content: center;
        align-items: center;
    }  

    .dropdown svg {
        height: 40px;
    }
    
    .dropdown > input[type="checkbox"] {
        position: absolute;
        left: -100vw;
    }

    .dropdown > label,
    .dropdown > a[role="button"] {
        display: inline-block;
        padding: 6px 15px;
        color: rgb(216,217,225);
        line-height: 1.5em;
        text-decoration: none;
        cursor: pointer;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-bottom: 10px;
    }

    .dropdown > label:hover,
    .dropdown > a[role="button"]:hover,
    .dropdown > a[role="button"]:focus {
        border-color: #333;
    }

    .dropdown > label:after,
    .dropdown > a[role="button"]:after {
            display: none;
    }

    .dropdown > ul {
        position: absolute;
        z-index: 999;
        display: block;
        left: -100vw;
        top: calc(1.5em + 14px);
        background: rgb(216,217,225);
        padding: 6px 0;
        margin: 0;
        list-style: none;
        width: 100%;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.15);
        -moz-box-shadow: 0 3px 8px rgba(0,0,0,.15);
        box-shadow: 0 3px 8px rgba(0,0,0,.15);
      }

    .dropdown > ul a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px 15px;
        text-decoration: none;
        color: rgb(216,217,225);
        margin: 15px 20px
      }

    .dropdown > ul a:hover,
    .dropdown > ul a:focus {
        background: rgb(205, 82, 38, .85);;
    }

    .dropdown > input[type="checkbox"]:checked ~ ul,
    .dropdown > ul:target {
        left: 0;
    }

    .dropdown > [type="checkbox"]:checked + label:after,
    .dropdown > ul:target ~ a:after {
        content: "\f0d8";
    }

    .dropdown a.close {
        display: none;
    }

    .dropdown > ul:target ~ a.close {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        text-indent: -100vw;
        z-index: 1000;
    }
}
