.navigation {
    display: flex;
    align-items: center;
    justify-content: center;

}

a {
    text-decoration: none;
    color: #4E3B3D;
    background-color: rgb(205, 82, 38, .70);
    padding: 15px 28px;
    margin: 5px 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}

a:hover {
    background-color: rgb(205, 82, 38, .85);
   
}

