.navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    text-decoration: none;
    background-color: rgb(205, 82, 38, .70);
    padding: 15px 28px;
}

a:hover {
    background-color: rgb(205, 82, 38, .85);
}

