.bioWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    height: auto;
    width: 300px;
}
.image {
    display: flex;
    justify-content: center;
    align-items:last baseline;
}

.nameb {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}