---
import BaseLayout from '../layouts/baseLayout.astro';
const pageTitle = "About Us";
---
<BaseLayout pageTitle={pageTitle}>
  <h3>Established 1904</h3>

    <p>John W. Phillips started an abstract company in 1904. His 
    business was called John W. Phillips Abstracting. He worked 
    in that office until the mid 1950’s when he sold the business 
    to his daughter and son in law Lucille P. Hansen and Albert J. Hansen. 
    Albert and Lucille renamed the business Phillips-Hansen Land Title 
    Company to form a sister company with the other Land Title 
    Companies in Northern Utah and Southern Idaho. Bruce and 
    Kim Evans purchased the business in 1991. They left the name the 
    same because it was easily recognized.
    </p>
    <p>
      Bruce Evans worked his way through college working in title companies. 
      He attended Southern Utah State College where he worked for Cedar Land Title.
     He worked for them for one year and learned the basic Title Insurance Business, 
     searching titles at the Iron County Courthouse. Because most of the counties in 
     southern Utah are small, Cedar Land Title would do work in all the neighboring 
     counties and he learned a great deal from the other counties. Bruce then transferred to 
     Utah State University and worked for Hickman Land Title Company. He worked there as a 
     Public Relations person and got to learn the front side of the Business. Bruce worked for them 
     for a little over a year when Associated Title Company offered him a job in Ogden. There he 
     learned about the big title companies. He discovered that larger land titles placed a lot of 
     limitations on customer service.
    </p>
    <p>
    Four classes shy of graduating with a Mathematics degree Albert Hansen approached Bruce and 
    wanted him to purchase the Phillips-Hansen Title Company. He was reluctant, wanting to hold to his
    goal of being a High School Math teacher and coach. Kim and Bruce considered their options and at 
    the ripe age of 25 and purchased Phillips-Hansen Land Title, never looking back.
   </p>   
</BaseLayout>

