---
import BaseLayout from '../layouts/baseLayout.astro';
import Social from '../components/social.astro';
const pageTitle = "Contact Us";
const phone = "666-666-6666"
const email = "test@test.com"
---
<BaseLayout pageTitle={pageTitle}>
  <p> Our Contact information</p>
    <p>{phone}</p>
    <p>{email}</p>
    <Social platform="facebook" username="example"/>
    <Social platform="instagram" username="example"/>
</BaseLayout>