---
import BaseLayout from "../layouts/baseLayout.astro";
const pageTitle = "FAQ";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>FAQ</title>
  </head>
  <body>
    <BaseLayout pageTitle={pageTitle}>
      <ul>
        <li>What does Phillips-Hansen Land Title do?</li>
        <ul> 
          <li> Phillips-Hansen Land Title is a title company that 
            specializes in providing comprehensive title insurance 
            and escrow services for real estate transactions. 
            We facilitate the transfer of property ownership by ensuring
           that titles are clear of any liens or encumbrances that 
           could affect the buyer's ownership rights.</li>
        </ul>
        <li>fact 2</li>
        <li>fact 3</li>
      </ul>
    </BaseLayout>
  </body>
</html>