---
import BaseLayout from "../layouts/baseLayout.astro";
const pageTitle = "Home";

---
<BaseLayout pageTitle={pageTitle}>
  <div class = "mission statement">
    <h2>Our Mission</h2>
    <p>
      "At Phillips-Hansen Land Title, our mission is to provide exceptional title and escrow 
      services to our clients with integrity, accuracy, and efficiency. We are dedicated to safeguarding 
      the real estate investments of our community by conducting thorough title searches, offering 
      comprehensive title insurance coverage, and facilitating smooth and timely closings. With a commitment 
      to excellence and personalized service, we strive to exceed the expectations of our clients and 
      contribute to the success and peace of mind of homeowners, lenders, and real estate professionals 
      throughout Northern Utah."
    </p>
  </div>
  <div class = "services">
    <h2>Our Services</h2>
    <img src = "" alt = "Title Insurance">
  </div>
</BaseLayout>
  </body>
</html>