---
import BaseLayout from "../layouts/baseLayout.astro";
const pageTitle = "Our Team";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
  </head>
  <body>
    <BaseLayout pageTitle={pageTitle}>
      <ul>
        <li>person 1</li>
        <ul>
          <li>BIO</li>
        </ul>
        <li>person 2</li>
        <ul>
          <li>BIO</li>
        </ul>
        <li>person 3</li>
        <ul>
          <li>BIO</li>
        </ul>
        <li>person 4</li>
        <ul>
          <li>BIO</li>
        </ul>
      </ul>
    </BaseLayout>
  </body>
</html>