---
import BaseLayout from '../layouts/baseLayout.astro';
const pageTitle = "Services";
---
<BaseLayout pageTitle={pageTitle}>
  <ul>
    <li><a href="/services/service-1/">Title Services</a></li>
    <li><a href="/services/service-2/">Escrow Services</a></li>
  </ul>
</BaseLayout>