---
import Social from './social.astro';
const phone = "435-723-6806"
const phone2 = "435-723-3503"

const email = "bruce@phillips-hansen.net"
---

<footer>
    <p> Our Contact information</p>
    <p>{phone}</p>
    <p>{phone2}</p>
    <p>{email}</p>
    <Social platform="facebook" username="example"/>
    <Social platform="instagram" username="example"/>
</footer>