---
import "../styles/navigation.css"


---
<div class="navigation">
    <a href="/">Home</a>
    <a href="/services/">Services</a>
    <a href="/ourTeam/">Our Team</a>
    <a href="/about/">About</a>
    <a href="/contact/">Contact Us</a>
    <a href="/faq/">FAQ</a>
</div>
<div class="dropdown">
    <input type="checkbox" id="my-dropdown" value="" name="my-checkbox">
        <label for="my-dropdown"
            data-toggle="dropdown">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="#151e62" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/>
            </svg>
        </label>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/services/">Services</a></li>
            <li><a href="/ourTeam/">Our Team</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact Us</a></li>
            <li><a href="/faq/">FAQ</a></li>
        </ul>
  </div>