---
import "../styles/navigation.css"


---
<div class="navigation">
    <a href="/">Home</a>
    <a href="/services/">Services</a>
    <a href="/ourTeam/">Our Team</a>
    <a href="/about/">About</a>
    <a href="/contact/">Contact Us</a>
    <a href="/faq/">FAQ</a>
</div>
<div class="dropdown">
    <input type="checkbox" id="my-dropdown" value="" name="my-checkbox">
        <label for="my-dropdown"
            data-toggle="dropdown">
        Navigation
        </label>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/services/">Services</a></li>
            <li><a href="/ourTeam/">Our Team</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact Us</a></li>
            <li><a href="/faq/">FAQ</a></li>
        </ul>
  </div>